<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | masterDJ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/aboutcss.css') }}">
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      body {
        margin: 0;
        border: 0;
        background-color: white;
        overflow-x: hidden;
      }
      .container {
        overflow: hidden;
      }
      .head {
        text-align: center;
        font-size: larger;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br />
      <head align="center" class="head">Master DJ Light Studio</head>
      <main>
        <h1>Master of DJ light</h1>
        <div class="paragrabh">
          <p>Experience the magic of digital DJ lights right at your fingertips, with seamless mobile support that brings captivating visuals to your performances on the go.</p>

          <b>For Desktop and Laptop:</b>
          <p>Elevate your DJ sets with digital DJ lights that offer full compatibility with desktop and laptop setups, allowing you to craft mesmerizing light shows that sync perfectly with your music.</p>
        </div>
        <br /><br />
        <div class="work">
          <h2>How to work?</h2>
          <div>
            <p>We will easily learn how to handle the masterDJ light with just a few simple steps to follow:</p>
            <h3>Steps:</h3>
            <p>1. Open your web browser and search for "masterDJ."</p>
          </div>
        </div>
        <br />
        <div class="supportDevice">
          <h2>Support</h2>
          <div class="device">
            <p>The MDJ supports any browser for data analysis, and your data is fully secure. It is compatible with all devices that support web browsing. The MDJ was recently launched on the web as 'MasterDJ' to assert copyright claims for that website.</p>
          </div>
        </div>
        <br />
        <div class="browser">
          <h2>Browser</h2>
          <div class="browserSupport">
            <p>The browser supports all browsers for utilizing a deep search engine within the operating environment, and it is compatible with any device.</p>
          </div>
        </div>
      </main>
    </div>
    <div class="copyright">
      <footer>
        <li>
          ©|copyright<p>2023</p>, <span></span>, <span>DJLIGHT</span>
        </li>
      </footer>
    </div>
  </body>
</html>
