<!-- templates/index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDJ</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav.jpeg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
  </head>
  <body>
    <div class="ad_tools"></div>

    <div class="slideshow-container condainer">
        <div id="mySlideshow" class="carousel slide slideshow" data-ride="carousel">
      <div class="mySlides  fade">
        <img src="{{ url_for('static', filename = './images/red.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/green.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/cyan.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/magenta.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/yellow.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/orange.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/white.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/warmwhite.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/coolwhite.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/ambar.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/pink.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/levendar.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/tarquioce.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/indigo.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/limegreen.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/peach.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/vilot.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/aqua.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/gold.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/blue.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/teal.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/coral.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/mintgreen.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/maroon.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/olive.png') }}" alt="Image" />
      </div>

      <div class="mySlides fade">
        <img src="{{ url_for('static', filename = './images/skyblue.png') }}" alt="Image" />
      </div>
    </div>

    <script src="{{ url_for('static', filename='./js/script.js') }}"></script>
    <div class="ad_tools"></div>

  </body>
</html>
